
body {
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
   
}

.header {
    height: 89px;
    width: 100%;
    padding: 0 164px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-orient: horizontal; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: row; 
            flex-direction: row; /* если row - то align-items вырванивает по вертикали по умолчанию row, если column то наоборот*/
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; /*если flex-direction row то это свойство отвечает за горизонтальное вырванивание по умолчанию flex-start*/
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /*вертикальное выравнивание по ум. flex-start*/
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2) ;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2) ;
    background-color: rgba(255, 255, 255, .9);
    position: fixed; /* из-за этого заехало */
    left: 0;
    top: 0;
}



/* float - устаревший метод. Им не пользуются */
/*Сейчас для позицирования используют display. По умолчанию у блочных элементов
block, у строчных - inline Есть комбинированный: inline-block. Он будет вести себя как 
строчный, но можно например примнеять margin. И так же другие свойства блочных элементов которые раньше не были доступны строчным элементам 
Самое крутое свойство: display: flex. Сам по себе он ничего не даст. Первостепенная задача flex'a: например у нас есть квадрат - в нем два дива 
квадрата. Как только мы применяем flex к элементу родителю он приобретает новые свойства. Далее применяем flex-direction (по ум. row, можно менять на direction)
Есть еще row-reverse и column-reverse (реверсируют элементы) http:flexbox playground and code generator*/

.link {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 17px;
    color: #736e6f;
    margin-right: 38px; /*делаем это чтобы не увеличивать область тэга a*/
}

/* .link:last-child { /*last-child псевдокласс который применяется к последнему
    margin-right: 0;
} */

.login {
    height: 27px;
    width: 87px;
    border: none;
    background-color: #de6d6e;
    cursor: pointer;
    color: white;
    text-transform: capitalize; /*делает первую букву заглавной*/
    font-size: 17px;
    border-radius: 3px; /*считать от первого пикселя перед которым начинает изменяться цвет*/
    margin-left: 4px; /*делаем отступ как на макете к 38 + 4 = 42*/
}

.banner {
 
    height: 588px;
    width: 100%;
    border: 1px solid red;
    background-image: url("../image/banner.jpg"); /*надо ставить .. - потому что мы работаем относительно папки styles. .. - мы выходим из папки styles*/
    background-repeat: no-repeat;
    background-size: cover; /*cover - делает так, чтобы заполнило все пространство. он ее пропорционально растянет. contain будет пытаться уместить ее в доступную область */
    background-position: center;
    padding: 85px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.banner span {
    color: white;
    
}

.title {
    font-size: 69px;
    text-transform: uppercase;
    font-weight: 800;
}

.title_small {
    font-size: 25px;
    font-weight: bold;
}

.menu {
    height: 50px;
    width: 50px;
    border: 2px solid #404040;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

.line {
    height: 2px;
    width: 30px;
    background-color: #404040;
    position: relative;

}

.line::after {
    content: '';
    height: 2px;
    width: 30px;
    background-color: #404040;
    position: absolute;
    left: 0;
    top: 8px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.line::before {
    content: '';
    height: 2px;
    width: 30px;
    background-color: #404040;
    position: absolute;
    left: 0;
    bottom: 8px;  
    -webkit-transition: .4s;  
    -o-transition: .4s;  
    transition: .4s;  
}

.info {
    width: 100%;
    height: 469px;
    -webkit-box-shadow: 0 0 3px 0;
            box-shadow: 0 0 3px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 66px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.info_title {
    font-size: 35px;
    margin-bottom: 30px;
    color: #404040;
 
}

.info_text {
    width: 830px;
    text-align: center;
    color: #404040;
}

.circles {
    width: 100%;
    padding: 0 160px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.card {
    height: 179px;
    width: 179px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    font-size: 17px;
    margin-top: 87px;]
    flex-shrink: 0; /*не даёт флексу искажать*/
}

.card > .tickets {
    margin-bottom: 12px;
}

.blue {
background-color: #4eb9f4;
}

.green {
background-color: #6fc125;
}

.red {
    background-color: #ff5649;
}

.orange {
    background-color: #e48f23;
}


/*если чек-бокс нажат то ищем класс лайн и делаем с ним:
чек бокс управляет сразу 3 элементами. Если он нажат то линия исчезает, а верхняя и нижняя поворачивается на 45 градусов*/
.chb:checked + .line {
    background-color: transparent;
}

.chb:checked + .line::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
}

.chb:checked + .line::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 0;
}

/* важно! его надо спрятать */
.chb {
    display: none;
}

.chb:checked ~.dropdown {
    height: 200px;
    width: 250px;
    
}



.dropdown {
    height: 0px;
    width: 0px;
    position: absolute;
    background-color: white;
    -webkit-box-sizing: 5px 5px 10px 0 black;
            box-sizing: 5px 5px 10px 0 black;
    left: 50px;
    top: 50px;
    -webkit-transition: .8s ease-in-out;
    -o-transition: .8s ease-in-out;
    transition: .8s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 10px;
    overflow: hidden; /* скрывает все что не влезло в видимую область */
  
}

/* overflow тесно связан со скролами на странице. в веб приложении где мы отображаем список пользователей (карточки) карточек 100 штук. мы ограничиваем блок по высокте. 
например 800px. Каждая карточка высотой 40 px если не огрничивать то все поедет. если применим overflow hidden то они скрывают. хотелось бы что бы был скролл. overflow-y: auto;
 не должно быть скрола по иксу. (горизонталь) overflow-x:hidden - отключаем его нафиг! можно добавить overflow-y:scroll */

/* все линки которые лежат в дробдауне */
.dropdown > .link {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.news {
    width: 100%;
    padding: 45px 129px;
    box-sizing: border-box;
    padding-bottom: 0;
}

.news-items {
    width: 100%;
    height: 135px; /*для адаптива сделать 100%*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 79px;
    box-sizing: border-box;
    padding-left: 65px;
}

.news-info {
    margin-left: 27px;
    box-sizing: border-box;
    padding-top: 10px;
}

.news-title {
    display: block; /*спан блочный - поэтому делаем блочным иначе ширина не сработает*/
    width: 285px;
    font-size: 27px;
    font-weight: 300;
    color: #404040;
    white-space: nowrap;
    overflow: hidden; /*скрываем все что вылазит за границы блока*/
    text-overflow: ellipsis; /*добавляет три точки*/
}

.news-text {
    font-size: 15px;
    color: #8b8b8b;
}

.footer {
    width: 100%;
    height: 258px;
    background-color: #232326;
    padding: 36px 129px 34px 129px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.footer_title {
    font-size: 18px;
    color: #aeaeae;
    text-transform: capitalize;
}

.footer_list {
    list-style-type: none;
    padding-left: 0; /*убираем браузерные отступы*/
    margin-top: 10px;
    margin-bottom: 1px;    
    box-sizing: border-box;
}

.footer_list > li {

    box-sizing: border-box;
}

.footer_list>li>a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 13px;
    color: #aeaeae;
    padding: 0;
}

.sub_menus {
    width: 644px;
    display: flex;
    justify-content: space-between;
    margin-left: 65px;
    box-sizing: border-box;
}

.social_btns {
    margin-bottom: 30px;
    box-sizing: border-box;
}

.social_btns >a {
   margin-right: 25px;
    box-sizing: border-box;
}

/* a:nth-child() настраивает периодичность. удобно для таблиц - применить на контакты */

.social_btns > a:last-child {
    margin-right: 0px;
}

.social {
    color: #aeaeae;;
    margin-top: 18px;
    font-size: 12px;
    box-sizing: border-box;
}

@media screen and (max-width: 1310px) {
    .footer {
        padding: 36px 20px 34px 20px;
    }
    .sub_menus {
        margin-left: 0;
    }
}

@media screen and (max-width: 1056px) {
    .circles {
        padding: 0px 10px;
    }

    .footer {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 980px) {
    .header {
        padding: 0 15px; 
    }
}

    .info_text {
        width: 100%;
    }

    .news {
        padding: 45px 20px;
    }

@media screen and (max-width: 710px) {
    .links {
        display: none;
    }

    .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

 .header {
     -webkit-box-orient: horizontal;
     -webkit-box-direction: reverse;
         -ms-flex-direction: row-reverse;
             flex-direction: row-reverse;
 }
 
 .circles {
     /* flex-direction: column; */
     /* flex-wrap: переносит; */
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
 }

 .card {
    margin: 10px 50px 0 50px;
    
 }

 .info {
     height: auto;
 }

 .sub_menus{
     width: 100%;
 }

 .news-title {
     width: 100%;
 }

}

@media screen and (max-width: 500px) {
    .sub_menus {
        flex-wrap: wrap;
    }

    .social_btns >a {
        margin-right: 10px;
    }
}

/* 
сервисы: https://bitbucket.org/
https://gitlab.com/gitlab-com
*/

/* Ls - показывает структуру папок 
   PS C:\Users\IT Clas\Desktop\03 24.09.2020 - вёрстка сайта>git init - для того чтобы загнать проект в древо. Если промахнулись надо зайти в скрытые файлы. 
   git config --global user.name loginBitbacket
   git config --global user.name klopixol89@gmail.com
   git push - отправить файлы
   git pull - обновить данные на новом компе
   git commit -m название коммита
    git commit m cards
    git stash - вырезали и скопировали в буфер обмена и они откатятся все изменения в оперативной памяти
    node --version
    npm --version
    Установка npm install live-server -g
    чтобы запустить live-server
    npm init (enter..)
    json хранит пакет тех зависимостей 
*/